
<!--<form class="form-horizontal col-sm-12" #heroForm="ngForm" (ngSubmit)="addCard(); heroForm.reset();">-->
<!-- Portfolio Grid Section -->
  <div class="container">
    

  <div class="row">
    <div class=" col-sm-3">
        <div class="row">

            <div class=" col-sm-10 center">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input id="email" type="text" class="form-control" name="email" placeholder="Search...">
              </div>
            <br/>
              <ul id="myUL">
                <li><a href="#">Adele</a></li>
                <li><a href="#">Agnes</a></li>
              
                <li><a href="#">Billy</a></li>
                <li><a href="#">Bob</a></li>
              
                <li><a href="#">Calvin</a></li>
                <li><a href="#">Christina</a></li>
                <li><a href="#">Cindy</a></li>
              </ul>
            </div>
            
        </div>
    </div>
    <div class="card col-sm-9">
        <div class="row">
          <div class="card col-sm-4"  *ngFor="let product of products; let i = index"  id="product_{{index}}">
            <div  class="card-body">
              <img src="{{product.icon}}">
              <h5  class="card-title"><b>{{product.name}}</b></h5>
              <h5>{{product.description}}</h5>
              <p style="color: red; margin-bottom: 0px;" >{{product.price}}{{currency_code}}(Oferta)</p>
              <p>{{product.before_price}}{{currency_code}}(Normal)</p>
              <div class="row">
                  <div class="col-sm-12">
                    <button type="button" class="btn btn-success" (click)="addCard(i)"> add to cart</button>
                  </div>
              </div>
            </div>
        </div>
        </div>
    </div>

  </div>

 
  </div>
  